*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-font: #575757;
  --clr-background: #cdd7d8;
  --clr-lightShadow: #ecf7f8;
  --clr-darkShadow: #aeb7b8;
  --clr-border: rgba(255, 255, 255, 0.2);
  --clr-hover: #6f6e6e;
  --box-shadow: 5px 5px 10px var(--clr-darkShadow), -4px -4px 12px var(--clr-lightShadow);
  --button-shadow: 5px 5px 10px var(--clr-darkShadow), -5px -5px 10px var(--clr-lightShadow);
  --box-shadow-reverse: inset 4px 4px 10px var(--clr-darkShadow), inset -4px -4px 12px var(--clr-lightShadow);
}

body {
  font-family: lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-background);
  min-height: 100vh;
}

.box-shadow {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

header {
  font-size: 1.4rem;
  color: var(--clr-font);
}

header,
form {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form input,
form button {
  padding: 0.8rem;
  font-size: 1.2rem;
  border: none;
  background: var(--clr-background);
}

form input {
  border-radius: 10px 0 0 10px;
  z-index: 1;
}

form button {
  border-radius: 0 10px 10px 0;
}

.list-plus:hover {
  color: var(--clr-hover);
}

.list-container {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-items {
  list-style: none;
  border: none;
  padding: 0.8rem;
  color: var(--clr-font);
  margin: 0 auto;
  border-radius: 10px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
}

.item-box > button {
  color: var(--clr-font);
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.item-box > * {
  margin: 0 .4em;
}

.item-done > .item {
  text-decoration: line-through;
  opacity: 0.5;
  -webkit-box-shadow: var(--box-shadow-reverse);
          box-shadow: var(--box-shadow-reverse);
}

.item {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 0.5rem;
  border-radius: 10px;
  min-width: 10rem;
  background: aeb7b8;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow-reverse);
          box-shadow: var(--box-shadow-reverse);
}

.done-button {
  background: linear-gradient(145deg, #e4fde5, #c0d4c1);
  -webkit-box-shadow: var(--button-shadow);
          box-shadow: var(--button-shadow);
}

.done-button:hover {
  background: linear-gradient(145deg, #c0d4c1, #e4fde5);
}

.remove-button {
  background: linear-gradient(145deg, #ffdcdd, #e6b9ba);
  -webkit-box-shadow: var(--button-shadow);
          box-shadow: var(--button-shadow);
}

.remove-button:hover {
  background: linear-gradient(145deg, #e6b9ba, #ffdcdd);
}
/*# sourceMappingURL=style.css.map */